src/main/app/restroomfinder-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:restroom-finder="http://www.mulesoft.org/schema/mule/restroom-finder" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/restroom-finder http://www.mulesoft.org/schema/mule/restroom-finder/current/mule-restroom-finder.xsd">
    <restroom-finder:config name="RestroomFinder__Configuration" doc:name="RestroomFinder: Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="restroomfinder-demoFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/restroom" doc:name="HTTP"/>
        <restroom-finder:findby-loc config-ref="RestroomFinder__Configuration" lat="#[message.inboundProperties.'http.query.params'.lat]" lng="#[message.inboundProperties.'http.query.params'.lng]" doc:name="RestroomFinder"/>
    </flow>
</mule>
